fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
python-dotenv
httpx
pytest
pytest-cov
pytest-dotenv
requests==2.26.0
pandas
# https://github.com/rpy2/rpy2/issues/1045
rpy2==3.5.12
