fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
python-dotenv
httpx
pytest
pytest-cov
pytest-dotenv
pandas
rpy2
epicsa-python@git+https://github.com/IDEMSInternational/epicsa-python.git@main
